; Export presets. The Android one expects the TripLogbook plugin .aar in
; android/plugins/ and the Godot Android build template installed.

[preset.0]

name="Linux x86_64"
platform="Linux"
runnable=true
export_path="builds/trip-logbook.x86_64"
encryption_include_filters=""
encryption_exclude_filters=""

[preset.0.options]

binary_format/embed_pck=true

[preset.1]

name="Android"
platform="Android"
runnable=true
export_path="builds/trip-logbook.apk"

[preset.1.options]

gradle_build/use_gradle_build=true
package/unique_name="com.tjloman.triplogbook"
package/name="Trip Logbook"
version/code=1
version/name="0.1.0"
screen/immersive_mode=true
screen/support_small=false
screen/support_normal=true
screen/support_large=true
screen/support_xlarge=true
permissions/access_background_location=true
permissions/access_coarse_location=true
permissions/access_fine_location=true
permissions/access_network_state=true
permissions/bluetooth=true
permissions/bluetooth_admin=true
permissions/foreground_service=true
permissions/internet=true
permissions/post_notifications=true
permissions/read_call_log=true
permissions/read_external_storage=true
permissions/receive_boot_completed=true
permissions/vibrate=true
permissions/wake_lock=true
